@charset "utf-8";
.wrap {
  text-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
.nowrap {
  white-space: nowrap;
}
.bg-none {
  background: none;
}
/* */
.bd-none {
  border: none;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.none {
  display: none;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.s {
  display: block;
}
.inline {
  display: inline-block;
}
.bold {
  font-weight: bold;
}
.abs {
  position: absolute;
}
.rel {
  positon: relative;
}
.fix {
  position: fixed;
}
.static {
  position: static;
}
.clear {
  clear: both;
}
.clear10 {
  clear: both;
  width: 100%;
  height: 10px;
}
.tcenter {
  text-align: center;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.overflow {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
/************************* 以上为通用less **********************/
/*全局class */
.font_dark {
  color: #000000;
}
.font_dark1 {
  color: #222222;
}
.font_light {
  color: #999999;
}
.font_light1 {
  color: #999999;
}
.font_error {
  color: #ff0000;
}
.bubble {
  color: #ef961a;
  display: inline-block;
}
body,
td,
p,
select,
input,
div,
table,
ul,
li,
h1,
h2,
h3 {
  font-size: 12px;
  font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
body,
div,
span,
h1,
h2,
h3,
h4,
ul,
li,
img,
p,
b,
textarea,
input,
select,
form,
a,
table,
tr,
td,
th,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
}
ul,
ol {
  list-style-type: none;
}
body {
  line-height: 18px;
  _margin: 0;
  _height: 100%;
}
body ::selection {
  background-color: #f3de74;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #ef961a;
}
a:hover {
  text-decoration: none;
}
input {
  padding: 3px;
}
input[type="file"] {
  border: solid #aaaaaa 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 3px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
input[type="submit"] {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  height: 30px;
  min-width: 100px;
  text-align: center;
  border: solid 1px #f9f9f9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
}
input[type="submit"]:hover {
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(bottom, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(bottom, #f6af21, #ea8015);
  background-image: -o-linear-gradient(bottom, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(bottom, #f6af21, #ea8015);
  background-image: linear-gradient(bottom, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(bottom, #f6af21, #ea8015);
  /*PIE*/
}
input[type="submit"]:active {
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
}
input[type="submit"] + div {
  margin-left: -130px;
  margin-top: -4px;
}
select,
textarea {
  padding: 3px;
  border: solid 1px #dddddd;
}
select {
  height: 28px;
  min-width: 146px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select:disabled {
  color: #cccccc;
  border: solid 1px #cccccc;
}
.select_move .select_move_base,
.select_move .select_move_btn,
.select_move .select_move_container {
  float: left;
  margin-right: 10px;
}
.select_move .select_move_btn {
  margin-top: 20px;
}
.select_move .select_move_btn a {
  display: block;
  padding: 5px;
  text-align: center;
  border: solid 1px #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ea8015;
  margin-bottom: 5px;
  color: #ffffff !important;
}
.select_move select {
  border: solid 1px #dddddd;
  height: auto;
}
textarea {
  line-height: 18px;
  background-color: #ffffff;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 5px 0px #cccccc;
  -moz-box-shadow: inset 0px 0px 5px 0px #cccccc;
  box-shadow: inset 0px 0px 5px 0px #cccccc;
}
input[type="text"] {
  height: 20px;
  border: solid 1px #dddddd;
  min-width: 200px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
input[type="text"].ajax_field {
  height: 20px;
  border: solid 1px #dddddd;
  width: 70px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
input[type=checkbox] {
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 15px;
  height: 15px;
}
input[type=checkbox] {
  background-image: url("../image/icons-18-black.png");
  background-repeat: no-repeat;
  background-position: -685px -3px;
}
input[type=checkbox]:checked {
  background-color: #ea8015;
  background-image: url("../image/icons-18-black.png");
  background-repeat: no-repeat;
  background-position: -649px -3px;
}
input[type=radio] {
  vertical-align: middle;
}
img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
table {
  border: none;
  border-collapse: collapse;
  color: #666666;
}
/*最近浏览*/
#lately {
  position: fixed;
  z-index: 1;
  right: 0px;
  top: 0px;
}
#lately .lately {
  color: white;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
}
#lately .lately_list {
  display: none;
}
#lately .lately_list a {
  display: block;
  color: #444444;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 110px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  background-color: #f9f9f9;
  border-bottom: solid 1px #aaaaaa;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
#lately .lately_list a:hover {
  background-color: #5494c6;
  background-image: -webkit-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -moz-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -o-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -ms-linear-gradient(top, #5494c6, #6eabd4);
  background-image: linear-gradient(top, #5494c6, #6eabd4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5494c6, endColorstr=#6eabd4, GradientType='0');
  -pie-background: linear-gradient(top, #5494c6, #6eabd4);
  /*PIE*/
  color: #ffffff;
}
/*header */
#header {
  background-image: url("../image/header_bg.gif");
  background-repeat: repeat-x;
  width: 100%;
  height: 115px;
  font-size: 16px;
  min-width: 1000px;
}
#header .user_info {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: right;
  margin-right: 40px;
  color: #aaaaaa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}
#header .user_info a {
  color: #eeeeee;
  text-decoration: underline;
}
#header .split {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: #999999;
}
#header .logo {
  float: left;
  margin-top: -30px;
  width: 112px;
  height: 95px;
}
#header .nav {
  float: left;
  margin-left: 40px;
  margin-top: 46px;
}
#header .nav ul li {
  float: left;
  margin-right: 10px;
  background-image: url("../image/header_nav.gif");
  background-repeat: no-repeat;
  text-align: center;
  width: 100px;
  height: 29px;
  line-height: 29px;
  color: #ffffff;
  font-weight: bold;
}
#header .nav ul li.selected {
  background-image: url("../image/header_nav_selected.gif");
  background-repeat: no-repeat;
}
#notify {
  width: 100%;
  line-height: 30px;
}
#main {
  width: 100%;
  min-width: 1000px;
  overflow: hidden;
}
#m_left {
  min-height: 300px;
  width: 150px;
  float: left;
  border-right: solid 1px #ea8015;
  border-bottom: solid 1px #ea8015;
  overflow-x: hidden;
  font-size: 14px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
}
#m_left ul li {
  height: 35px;
  line-height: 35px;
  padding-left: 20px;
  border-bottom: solid 1px #aaaaaa;
  color: #444444;
  background-color: #f9f9f9;
  zoom: 1;
  *display: inline;
}
#m_left ul li div {
  float: right;
  margin-top: 7px;
  margin-right: 10px;
}
#m_left ul li:hover {
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
  background-color: #eeeeee;
}
#m_left ul li.selected {
  background-color: #f6af21;
}
#m_left dt {
  height: 40px;
  padding-left: 20px;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
  border-bottom: solid 1px #aaaaaa;
}
#m_left .root {
  font-weight: bold;
  height: 40px;
  padding-left: 20px;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
  border-bottom: solid 1px #aaaaaa;
}
#m_left .leaf {
  display: block;
  color: #666666;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  padding-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  background-color: #f9f9f9;
  border-bottom: solid 1px #cccccc;
}
#m_left .leaf:hover {
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
  color: #444444;
}
#m_left .leaf div {
  float: right;
  margin-top: 7px;
}
#m_left .num {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  background-color: #ea8015;
  color: #eeeeee;
}
#m_left .sel {
  background-color: #ea8015;
  background-image: -webkit-linear-gradient(top, #ea8015, #f6af21);
  background-image: -moz-linear-gradient(top, #ea8015, #f6af21);
  background-image: -o-linear-gradient(top, #ea8015, #f6af21);
  background-image: -ms-linear-gradient(top, #ea8015, #f6af21);
  background-image: linear-gradient(top, #ea8015, #f6af21);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ea8015, endColorstr=#f6af21, GradientType='0');
  -pie-background: linear-gradient(top, #ea8015, #f6af21);
  /*PIE*/
  color: #ffffff;
}
#m_right {
  min-width: 800px;
  max-width: 85%;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  left: 160px;
}
#m_right h1 {
  height: 38px;
  line-height: 38px;
}
#m_right h2 {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}
#m_right h3 {
  font-size: 16px;
  padding-top: 10px;
}
#m_right h3 a {
  color: #ef961a;
  text-decoration: underline;
}
#m_right hr {
  border: none;
  border-bottom: solid 2px #f6af21;
  margin: 0px;
  padding: 0px;
}
#m_right ul {
  margin-left: 10px;
}
#m_right ul li {
  border-top: dashed 1px #dddddd;
  padding: 10px;
  font-size: 14px;
  color: #444444;
  clear: both;
}
#m_right ul li .l {
  float: left;
  width: 80px;
  text-align: left;
  white-space: nowrap;
  line-height: 30px;
}
#m_right ul li .r {
  float: left;
  text-align: left;
  line-height: 30px;
}
#m_right ul li:first-child {
  border: none;
}
#m_right .ul1 li {
  border-bottom: solid 1px #dddddd;
  line-height: 40px;
  padding: 0px;
}
#m_right .ul1 li:nth-last-child(1) {
  border: none;
}
#m_right .ul1 li {
  border-bottom: solid 1px #dddddd;
  line-height: 40px;
  padding: 0px;
}
#m_right .ul1 li img {
  vertical-align: middle;
}
#m_right .ul1 {
  width: 800px;
}
#m_right .ul2 {
  width: 760px;
}
#m_right .ul3 {
  width: 720px;
}
#m_right .ul4 {
  width: 680px;
}
#m_right .ul2,
#m_right .ul3,
#m_right .ul4 {
  margin-left: 40px;
}
#m_right .toggle {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #f9f9f9;
  border: solid 1px #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 5px 0px #cccccc;
  -moz-box-shadow: 2px 2px 5px 0px #cccccc;
  box-shadow: 2px 2px 5px 0px #cccccc;
}
#m_right .toggle .operate {
  float: right;
  text-align: right;
  clear: both;
  width: 100%;
  height: 20px;
}
#m_right table a {
  color: #ef961a;
}
#m_right table a:hover {
  text-decoration: underline;
}
#m_right table tr:nth-child(even) {
  background-color: #f9f9f9;
}
#m_right table tr:nth-child(odd) {
  background-color: #f6f6f6;
}
#m_right table tr td {
  height: 30px;
  border: solid 1px #cccccc;
  padding: 5px;
  text-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
#m_right table th {
  height: 30px;
  line-height: 30px;
  border: solid 1px #cccccc;
  padding: 5px;
  color: #444444;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
}
#m_right table.inner a {
  color: #ef961a;
}
#m_right table.inner a:hover {
  text-decoration: underline;
}
#m_right table.inner tr:nth-child(even) {
  background-color: #f9f9f9;
}
#m_right table.inner tr:nth-child(odd) {
  background-color: #f6f6f6;
}
#m_right table.inner tr td {
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: solid 1px #cccccc;
  padding: 2px;
  text-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}
#m_right table.inner th {
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: solid 1px #cccccc;
  padding: 2px;
  color: #444444;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
}
#m_right .ajax {
  display: inline-block;
  padding: 5px 8px 5px 8px;
  border: solid 1px #cccccc;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#m_right .ajax:hover {
  color: #444444;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
}
#m_right .ajax_sel,
#m_right .ajax_sel:hover {
  cursor: default;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
  color: white;
  border: solid 1px #ff6706;
}
#m_right .ajax_sel2 {
  display: inline-block;
  padding: 5px 8px 5px 8px;
  cursor: pointer;
  color: white;
  border: solid 1px #ff6706;
  background-color: #ea8015;
  background-image: -webkit-linear-gradient(top, #ea8015, #f6af21);
  background-image: -moz-linear-gradient(top, #ea8015, #f6af21);
  background-image: -o-linear-gradient(top, #ea8015, #f6af21);
  background-image: -ms-linear-gradient(top, #ea8015, #f6af21);
  background-image: linear-gradient(top, #ea8015, #f6af21);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ea8015, endColorstr=#f6af21, GradientType='0');
  -pie-background: linear-gradient(top, #ea8015, #f6af21);
  /*PIE*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#m_right .ajax_sel2:hover {
  color: white;
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
}
#m_right .ajax2,
#m_right .ajax2:hover {
  display: inline-block;
  padding: 5px 8px 5px 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
  color: #444444;
  border: solid 1px #cccccc;
}
#m_right .two_column {
  font-size: 14px;
  line-height: 20px !important;
}
#m_right .two_column tr {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-bottom: solid 1px #eeeeee;
}
#m_right .two_column tr:nth-last-child(even) {
  background-color: #f9f9f9;
}
#m_right .two_column tr:nth-last-child(odd) {
  background-color: #f6f6f6;
}
#m_right .two_column tr:nth-last-child(1) {
  border-bottom: none;
}
#m_right .two_column th {
  text-align: left;
  line-height: 1.5em;
  padding-left: 10px;
  max-width: 600px;
  min-width: 400px;
  border: none;
  background: none;
  background-image: none;
  text-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  font-weight: normal;
  color: #000000;
}
#m_right .two_column td {
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  background: none;
  color: #999999;
  border-right: solid 1px #aaaaaa;
}
#m_right .two_column ol {
  list-style-type: decimal !important;
}
#m_right .two_column ul {
  list-style-type: disc !important;
}
#m_right .sort_table li {
  padding: 2px;
  border: none;
  cursor: pointer;
}
#m_right .sort_table .drag {
  background-color: #ea8015;
  color: #eeeeee;
}
#m_right .sort_table td {
  color: #999999;
}
#m_right .sort_table span {
  color: #000000;
}
#m_right .sort_table li:nth-last-child(even) {
  background-color: #f9f9f9;
}
#m_right .sort_table li:nth-last-child(odd) {
  background-color: #f6f6f6;
}
#m_right .nav {
  margin-top: 10px;
  border-bottom: solid 2px #ea8015;
  height: 36px;
  line-height: 14px;
  font-size: 14px;
  clear: both;
}
#m_right .nav .item {
  float: left;
  overflow: hidden;
  padding: 8px 30px 8px 30px;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
  border: solid 1px #cccccc;
}
#m_right .nav .item:nth-child(1) {
  -webkit-top-left-border-radius: 10px;
  -moz-top-left-border-radius: 10px;
  border-top-left-radius: 10px;
}
#m_right .nav .item:nth-last-child(1) {
  -webkit-top-right-border-radius: 10px;
  -moz-top-right-border-radius: 10px;
  border-top-right-radius: 10px;
}
#m_right .nav .item:hover {
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
  /* Firefox */
  color: white;
  border-bottom: none;
  border-top: none;
  padding: 9px 30px 9px 30px;
}
#m_right .nav a {
  color: #444444;
  display: inline-block;
}
#m_right .nav .selected {
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
  /* Firefox */
  padding: 9px 30px 9px 30px;
  border: none;
}
#m_right .nav span {
  color: white;
  white-space: pre-line;
}
#m_right .pager {
  float: left;
  margin-top: 10px;
  line-height: 2.5em;
  text-align: center;
  color: white;
}
#m_right .pager a {
  display: inline-block;
  width: 50px;
  background-color: #5494c6;
  background-image: -webkit-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -moz-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -o-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -ms-linear-gradient(top, #5494c6, #6eabd4);
  background-image: linear-gradient(top, #5494c6, #6eabd4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5494c6, endColorstr=#6eabd4, GradientType='0');
  -pie-background: linear-gradient(top, #5494c6, #6eabd4);
  /*PIE*/
  color: #cccccc;
  margin-right: 5px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
#m_right .pager a:hover {
  background-color: #5494c6;
  background-image: -webkit-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -moz-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -o-linear-gradient(top, #5494c6, #6eabd4);
  background-image: -ms-linear-gradient(top, #5494c6, #6eabd4);
  background-image: linear-gradient(top, #5494c6, #6eabd4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5494c6, endColorstr=#6eabd4, GradientType='0');
  -pie-background: linear-gradient(top, #5494c6, #6eabd4);
  /*PIE*/
}
#m_right .pager .total {
  display: inline-block;
  padding: 0px 10px 0px 10px;
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
  margin-right: 5px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
#m_right .pager .current {
  display: inline-block;
  width: 50px;
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
  margin-right: 5px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
#m_right #search {
  font-weight: bold;
  text-indent: 5px;
  background: #f6f6f6;
  -webkit-box-shadow: 2px 2px 5px 0px #cccccc;
  -moz-box-shadow: 2px 2px 5px 0px #cccccc;
  box-shadow: 2px 2px 5px 0px #cccccc;
  margin-bottom: 15px;
  /*多个分组查询条件， 当某个分组被选中时*/
}
#m_right #search .item {
  border-bottom: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
}
#m_right #search .selected {
  background: #ef961a;
}
#m_right #search .item form {
  display: inline-block;
}
#m_right #search ul li {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  border: none;
  line-height: 30px;
}
#m_right #search ul li.split {
  border-bottom: solid 1px #dddddd;
  width: 100%;
  padding: 0px;
  height: 0px;
  line-height: 0px;
}
#m_right #search ul li span.unselected {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #efefef;
  background-image: -webkit-linear-gradient(top, #efefef, #dedede);
  background-image: -moz-linear-gradient(top, #efefef, #dedede);
  background-image: -o-linear-gradient(top, #efefef, #dedede);
  background-image: -ms-linear-gradient(top, #efefef, #dedede);
  background-image: linear-gradient(top, #efefef, #dedede);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dedede, GradientType='0');
  -pie-background: linear-gradient(top, #efefef, #dedede);
  /*PIE*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #cccccc;
  color: #444444;
}
#m_right #search ul li span.selected {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid 1px #ff6706;
  color: #ffffff;
  background-image: url("../image/ok.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  padding-left: 20px;
}
#m_right #search input[type="text"] {
  height: 18px;
  padding: 2px;
  min-width: 80px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 100px;
}
#m_right #search select {
  padding: 2px;
  min-width: 80px;
}
#m_right #search input[type="submit"],
#m_right #search a {
  font-size: 12px;
  height: 26px;
  min-width: 60px;
  text-align: center;
  border: solid 1px #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  color: white;
}
#m_right #search a {
  line-height: 26px;
  background-color: #f67448;
  background-image: -webkit-linear-gradient(top, #f67448, #9e213b);
  background-image: -moz-linear-gradient(top, #f67448, #9e213b);
  background-image: -o-linear-gradient(top, #f67448, #9e213b);
  background-image: -ms-linear-gradient(top, #f67448, #9e213b);
  background-image: linear-gradient(top, #f67448, #9e213b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f67448, endColorstr=#9e213b, GradientType='0');
  -pie-background: linear-gradient(top, #f67448, #9e213b);
  /*PIE*/
}
#notice {
  display: none;
  position: absolute;
  min-width: 100px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-shadow: 1px 2px 0 #444444;
  border: solid 1px #cccccc;
  background-color: #f6af21;
  background-image: -webkit-linear-gradient(top, #f6af21, #ea8015);
  background-image: -moz-linear-gradient(top, #f6af21, #ea8015);
  background-image: -o-linear-gradient(top, #f6af21, #ea8015);
  background-image: -ms-linear-gradient(top, #f6af21, #ea8015);
  background-image: linear-gradient(top, #f6af21, #ea8015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6af21, endColorstr=#ea8015, GradientType='0');
  -pie-background: linear-gradient(top, #f6af21, #ea8015);
  /*PIE*/
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
}
#loading {
  display: none;
  position: absolute;
  width: 48px;
  height: 48px;
}
#transparent_layer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.scoretext {
  color: #f97a57;
  line-height: 14px;
  display: inline-block;
  font-size: 12px;
}
.score0,
.score1,
.score2,
.score3,
.score4,
.score5,
.score6,
.score7,
.score8,
.score9,
.score10 {
  display: inline-block;
  vertical-align: middle;
  width: 75px;
  height: 14px;
  background-image: url("../image/stars.gif");
  background-repeat: no-repeat;
}
.score0 {
  background-position: 0px -140px;
}
.score1 {
  background-position: 0px -126px;
}
.score2 {
  background-position: 0px -112px;
}
.score3 {
  background-position: 0px -98px;
}
.score4 {
  background-position: 0px -84px;
}
.score5 {
  background-position: 0px -70px;
}
.score6 {
  background-position: 0px -56px;
}
.score7 {
  background-position: 0px -42px;
}
.score8 {
  background-position: 0px -28px;
}
.score9 {
  background-position: 0px -14px;
}
.score10 {
  background-position: 0px 0px;
}
/*myicon，方形，背景色蓝色*/
.icon_add,
.icon_min,
.icon_delete,
.icon_right,
.icon_left,
.icon_up,
.icon_down,
.icon_check,
.icon_gear,
.icon_refresh,
.icon_forward,
.icon_back,
.icon_grid,
.icon_star,
.icon_alert,
.icon_message,
.icon_home,
.icon_search,
.icon_bar,
.icon_edit,
.icon_text,
.icon_lock,
.icon_unlock,
.icon_talk,
.icon_banner,
.icon_power,
.icon_world,
.icon_user,
.icon_good,
.icon_love,
.icon_frist,
.icon_last,
.icon_computer {
  display: inline-block;
  width: 18px;
  height: 18px;
  zoom: 1;
  *display: inline;
  background-color: #ef961a;
  background-image: url("../image/micons-18-white.png");
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
.icon_circle {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
/*圆形icon*/
.icon_image_black {
  background-image: url("../image/micons-18-black.png");
}
/*黑色图片*/
.icon_red {
  background-color: rgba(223, 34, 39, 0.8);
}
/*红色icon*/
.icon_orange {
  background-color: rgba(241, 167, 4, 0.8);
}
/*橘色icon*/
.icon_black {
  background-color: rgba(51, 51, 51, 0.8);
}
/*黑色icon*/
.icon_green {
  background-color: rgba(96, 167, 37, 0.8);
}
/*绿色icon*/
.icon_transparent {
  background-color: rgba(255, 255, 255, 0);
}
/*透明icon*/
.icon_add {
  background-position: 0px 0px;
}
.icon_min {
  background-position: -18px 0px;
}
.icon_delete {
  background-position: -36px 0px;
}
.icon_left {
  background-position: -54px 0px;
}
.icon_right {
  background-position: -72px 0px;
}
.icon_up {
  background-position: -90px 0px;
}
.icon_down {
  background-position: -108px 0px;
}
.icon_check {
  background-position: -126px 0px;
}
.icon_gear {
  background-position: -144px 0px;
}
.icon_refresh {
  background-position: -160px 0px;
}
.icon_forward {
  background-position: -178px 0px;
}
.icon_back {
  background-position: -196px 0px;
}
.icon_grid {
  background-position: -214px 0px;
}
.icon_star {
  background-position: -232px 0px;
}
.icon_alert {
  background-position: -250px 0px;
}
.icon_message {
  background-position: -268px 0px;
}
.icon_home {
  background-position: -286px 0px;
}
.icon_search {
  background-position: -304px 0px;
}
.icon_bar {
  background-position: -322px 0px;
}
.icon_edit {
  background-position: -340px 0px;
}
.icon_text {
  background-position: -358px 0px;
}
.icon_lock {
  background-position: -376px 0px;
}
.icon_unlock {
  background-position: -394px 0px;
}
.icon_talk {
  background-position: -412px 0px;
}
.icon_banner {
  background-position: -430px 0px;
}
.icon_power {
  background-position: -448px 0px;
}
.icon_world {
  background-position: -466px 0px;
}
.icon_user {
  background-position: -484px 0px;
}
.icon_good {
  background-position: -502px 0px;
}
.icon_love {
  background-position: -520px 0px;
}
.icon_frist {
  background-position: -538px 0px;
}
.icon_last {
  background-position: -556px 0px;
}
.icon_computer {
  background-position: -574px 0px;
}
/*默认icon，方形，背景色蓝色*  jquerymobile的icon/
/* .icon_bars,.icon_edit,.icon_right,.icon_left,.icon_up,.icon_down,.icon_add,.icon_delete,.icon_minus,.icon_check,.icon_gear, */
/* .icon_refresh,.icon_forward,.icon_back,.icon_grid,.icon_star,.icon_alert,.icon_info,.icon_home,.icon_search,.icon_checkbox_on,.icon_checkbox_off, */
/* .icon_radio_on,.icon_radio_off */
/* { */
/* 	display:inline-block; */
/* 	width:18px; */
/* 	height:18px; */
/* 	background-color:#3e6b85 ; */
/* 	background-color:rgba(97,161,205,.8) ; */
/* 	background-image:url(../image/icons-18-white.png) ; */
/* 	background-repeat:no-repeat; */
/* 	-webkit-border-radius:4px; */
/* 	border-radius:4px; */
/* 	vertical-align: middle; */
/* } */
/* .icon_image_black{background-image:url("../image/icons-18-black.png");} */
/* .icon_circle{	-webkit-border-radius:9px;border-radius:9px;}圆形icon */
/* .icon_red{background-color:rgba(223,34,39,.8) ;}红色icon */
/* .icon_orange{background-color:rgba(241,167,4,.8) ;}橘色icon */
/* .icon_black{background-color:rgba(51,51,51,.8) ;}黑色icon */
/* .icon_green{background-color:rgba(96,167,37,.8) ;}绿色icon */
/* .icon_transparent{background-color:rgba(255,255,255,0) ;}透明icon */
/* .icon_add{background-position:-1px -1px;} */
/* .icon_minus{background-position:-37px -1px;} */
/* .icon_delete{background-position:-73px -1px;} */
/* .icon_right{background-position:-108px -1px;} */
/* .icon_left{background-position:-144px -1px;} */
/* .icon_up{background-position:-180px -1px;} */
/* .icon_down{background-position:-216px -1px;} */
/* .icon_check{background-position:-252px -1px;} */
/* .icon_gear{background-position:-288px -1px;} */
/* .icon_refresh{background-position:-323px -1px;} */
/* .icon_forward{background-position:-360px -1px;} */
/* .icon_back{background-position:-396px -1px;} */
/* .icon_grid{background-position:-432px -1px;} */
/* .icon_star{background-position:-467px -1px;} */
/* .icon_alert{background-position:-503px -1px;} */
/* .icon_info{background-position:-539px -1px;} */
/* .icon_home{background-position:-575px -1px;} */
/* .icon_search{background-position:-611px -1px;} */
/* .icon_checkbox_on{background-position:-647px -1px;} */
/* .icon_checkbox_off{background-position:-683px -1px;} */
/* .icon_radio_on{background-position:-718px -1px;} */
/* .icon_radio_off{background-position:-754px -1px;} */
/* .icon_bars{background-position:-788px -1px;} */
/* .icon_edit{background-position:-824px -1px;} */
.login_footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: #222222;
  background-color: #282828;
  background-image: -webkit-linear-gradient(top, #282828, #111111);
  background-image: -moz-linear-gradient(top, #282828, #111111);
  background-image: -o-linear-gradient(top, #282828, #111111);
  background-image: -ms-linear-gradient(top, #282828, #111111);
  background-image: linear-gradient(top, #282828, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#282828, endColorstr=#111111, GradientType='0');
  -pie-background: linear-gradient(top, #282828, #111111);
  /*PIE*/
  color: #cccccc;
}
.login_footer .con {
  width: 960px;
  margin: 0px auto;
  line-height: 40px;
}
.login {
  width: 400px;
  margin: 0px auto;
  line-height: 2em;
  margin-top: 200px;
}
.login h2 {
  font-size: 18px;
}
.login input[type=text],
.login input[type=password] {
  width: 290px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.login input[type=submit] {
  width: 300px;
}
