<form method="post" action="<{:U('Login/password');}>">
    <ul>
        <li>
            <div class="l">姓名：</div>
            <div class="r bold"><{:getAdminCName()}></div>
        </li>
        <li>
            <div class="l">登陆账号：</div>
            <div class="r bold">
                <input type="hidden" name="uid" value="<{:getAdminName()}>" />
                <input type="text" name="uname" value="<{:getAdminName()}>" /></div>
        </li>
        <li>
            <div class="l">原密码：</div>
            <div class="r bold"><input type="password" name="old"/></div>
        </li>
        <li>
            <div class="l">新密码：</div>
            <div class="r bold"><input type="password" name="new1"/></div>
        </li>
        <li>
            <div class="l">确认密码：</div>
            <div class="r bold"><input type="password" name="new2"/></div>
        </li>
        <li>
            <input type="submit" name="提交"/>
        </li>
    </ul>
</form>