<form method="post" enctype="multipart/form-data">
    <ul>
        <li>
            <div class="l">版本号：</div>
            <div class="r"><{$html.version}></div>
        </li>
        <li>
            <div class="l">版本名称：</div>
            <div class="r"><{$html.versionName}></div>
        </li>
        <li>
            <div class="l">描述：</div>
            <div class="r"><{$html.desc}></div>
        </li>
        <li>
            <div class="l">游戏包上传：</div>
            <div class="r"><{$html.package}></div>
        </li>
        <li>
            <{$html.submit}>
        </li>
    </ul>
</form>